In [22]:
import psycopg2
from dotenv import load_dotenv
import os
from openai import OpenAI
import pandas as pd
from datetime import datetime
import pymysql

In [23]:
load_dotenv()

True

In [24]:
currentDateTime = datetime.now().strftime("%m-%d-%Y")

In [25]:
DB_HOST = os.environ.get("DB_HOST")
DB_USERNAME = os.environ.get("DB_USERNAME")
DB_PASSWORD = os.environ.get("DB_PASSWORD")
DB_PORT = os.environ.get("DB_PORT")
DB_NAME_BE = os.environ.get("DB_NAME_BE")

config = {
    'host': DB_HOST,
    'user': DB_USERNAME,
    'password': DB_PASSWORD,
    'database': DB_NAME_BE,
    'port': int(DB_PORT) 
}

conn = pymysql.connect(**config)

cursor = conn.cursor()

In [26]:
cursor.execute("SHOW TABLES")

results = cursor.fetchall()

for row in results:
    print(row)

('admins',)
('categories',)
('complaint_activities',)
('complaint_files',)
('complaint_likes',)
('complaint_processes',)
('complaints',)
('discussions',)
('news',)
('news_files',)
('regencies',)
('users',)

In [27]:
DB_HOST_DE = os.environ.get("POSTGRES_HOST")
DB_USERNAME_DE = os.environ.get("POSTGRES_USER")
DB_PASSWORD_DE = os.environ.get("POSTGRES_PASSWORD")
DB_NAME_DE = os.environ.get("POSTGRES_DB")
DB_PORT_DE = os.environ.get('POSTGRES_PORT')

conn_data = psycopg2.connect(database = DB_NAME_DE, 
                        user = DB_USERNAME_DE, 
                        host= DB_HOST_DE,
                        password = DB_PASSWORD_DE,
                        port = int(DB_PORT_DE)
                        )

cursor_de = conn_data.cursor()

In [28]:
cursor_de.execute("DROP TABLE IF EXISTS complaint_facts CASCADE")
cursor_de.execute("DROP TABLE IF EXISTS admins CASCADE")

In [29]:
cursor_de.execute("""
    DO $$ 
    BEGIN
        IF NOT EXISTS (SELECT 1 FROM pg_type WHERE typname = 'category_enum') THEN
            CREATE TYPE category_enum AS ENUM ('Kesehatan', 'Pendidikan', 'Kependudukan', 'Keamanan', 'Infrastruktur', 'Lingkungan', 'Transportasi');
        END IF;

        IF NOT EXISTS (SELECT 1 FROM pg_type WHERE typname = 'status_enum') THEN
            CREATE TYPE status_enum AS ENUM ('verifikasi', 'on progress', 'selesai', 'ditolak');
        END IF;

        IF NOT EXISTS (SELECT 1 FROM pg_type WHERE typname = 'type_enum') THEN
            CREATE TYPE type_enum AS ENUM ('private', 'public');
        END IF;
    END $$;
    
    CREATE TABLE IF NOT EXISTS users (
        id SERIAL PRIMARY KEY,
        name VARCHAR(255),
        username VARCHAR(255),
        email VARCHAR(255),
        telephone_number VARCHAR(20),
        password VARCHAR(255),
        profile_photo VARCHAR(255),
        created_at TIMESTAMP,
        updated_at TIMESTAMP,
        deleted_at TIMESTAMP NULL
    );
               
    CREATE TABLE IF NOT EXISTS admins (
        id SERIAL PRIMARY KEY,
        name VARCHAR(255),
        email VARCHAR(255),
        password VARCHAR(255),
        telephone_number VARCHAR(20),
        is_super_admin BOOLEAN,       
        profile_photo VARCHAR(255),
        created_at TIMESTAMP,
        updated_at TIMESTAMP,
        deleted_at TIMESTAMP NULL
    );

    CREATE TABLE IF NOT EXISTS complaints (
        id SERIAL PRIMARY KEY,
        category category_enum,
        description TEXT,
        regency VARCHAR(255),
        district VARCHAR(255),
        address VARCHAR(255),
        latitude VARCHAR(255),
        longitude VARCHAR(255),
        status status_enum,
        type type_enum,
        created_at TIMESTAMP,
        updated_at TIMESTAMP,
        deleted_at TIMESTAMP NULL
    );

    CREATE TABLE IF NOT EXISTS complaint_process (
        id SERIAL PRIMARY KEY,
        status status_enum,
        message TEXT,
        created_at TIMESTAMP,
        updated_at TIMESTAMP,
        deleted_at TIMESTAMP
    );

    CREATE TABLE IF NOT EXISTS complaint_facts (
        user_id BIGINT,
        complaint_id VARCHAR(255),
        complaints_process_id BIGINT,
        admin_id BIGINT,
        sum_complaint BIGINT,
        sum_verification BIGINT,
        sum_onprogress BIGINT,
        sum_resolved BIGINT,
        sum_rejected BIGINT,
        sum_deleted BIGINT,
        sum_public BIGINT,
        sum_private BIGINT,
        process_time BIGINT,
        user_rejected_complaints BIGINT,
        user_resolved_complaints BIGINT,
        last_complaints VARCHAR(255)
    );
""")

conn_data.commit()

In [30]:
cursor_de.execute("""SELECT table_name FROM information_schema.tables
       WHERE table_schema = 'public'""")
for table in cursor_de.fetchall():
    print(table)

('complaint_process',)
('complaints',)
('users',)
('admins',)
('complaint_facts',)

# EXTRACT DATA

In [31]:
cursor.execute("""
SELECT
    c.user_id,
    c.id AS complaint_id,
    cp.id AS complaints_process_id,
    a.id AS admin_id,
    (SELECT COUNT(id) FROM complaints) as total_complaints,
    (SELECT COUNT(status) FROM complaint_processes WHERE status = 'verifikasi') AS sum_verification,
    (SELECT COUNT(status) FROM complaint_processes WHERE status = 'on progress') AS sum_onprogress,
    (SELECT COUNT(status) FROM complaint_processes WHERE status = 'selesai') AS sum_resolved,
    (SELECT COUNT(status) FROM complaint_processes WHERE status = 'ditolak') AS sum_rejected,
    (SELECT COUNT(deleted_at) FROM complaints WHERE deleted_at IS NOT NULL) AS sum_deleted,
    (SELECT COUNT(type) FROM complaints WHERE type = 'public') AS sum_public,
    (SELECT COUNT(type) FROM complaints WHERE type = 'private') AS sum_private,
    DATEDIFF(
        (SELECT MAX(created_at) FROM complaint_processes WHERE status IN ('selesai', 'ditolak') AND complaint_id = c.id),
        (SELECT MAX(created_at) FROM complaint_processes WHERE status = 'verifikasi' AND complaint_id = c.id)
    ) AS process_time,
    COALESCE(u_rejected.count, 0) AS user_rejected_complaints,
    COALESCE(u_resolved.count, 0) AS user_resolved_complaints,
    lc.last_complaint_id AS last_complaints
    FROM
        complaints c
    JOIN
        complaint_processes cp ON c.id = cp.complaint_id
    JOIN
        users u ON c.user_id = u.id
    JOIN
        admins a ON cp.admin_id = a.id
    LEFT JOIN (
        SELECT user_id, COUNT(*) AS count
        FROM complaints
        WHERE status = 'ditolak'
        GROUP BY user_id
    ) u_rejected ON c.user_id = u_rejected.user_id
    LEFT JOIN (
        SELECT user_id, COUNT(*) AS count
        FROM complaints
        WHERE status = 'selesai'
        GROUP BY user_id
    ) u_resolved ON c.user_id = u_resolved.user_id
    LEFT JOIN (
        SELECT user_id, MAX(id) AS last_complaint_id
        FROM complaints
        GROUP BY user_id
    ) lc ON c.user_id = lc.user_id
    GROUP BY
        c.user_id, c.id, cp.id, a.id, u_rejected.count, u_resolved.count, lc.last_complaint_id
    ORDER BY
        user_id ASC;
""")

complaint_facts = cursor.fetchall()

complaint_facts = pd.DataFrame(complaint_facts, columns=['user_id',
                                      'complaint_id',
                                      'complaint_process_id',
                                      'admin_id',
                                      'total_complaints',
                                      'sum_verification',
                                      'sum_onprogress',
                                      'sum_resolved',
                                      'sum_rejected',
                                      'sum_deleted',
                                      'sum_public',
                                      'sum_private',
                                      'process_time',
                                      'user_rejected_complaints',
                                      'user_resolved_complaints',
                                      'last_complaints'])

complaint_facts.to_csv(f"complaint_facts/complaint_facts_{currentDateTime}.csv", index=False)

In [43]:
cursor.execute("""
SELECT
    id,
    name,
    email,
    telephone_number,
    is_super_admin,
    created_at,
    updated_at,
    deleted_at
FROM 
    admins
""")

admin_data = cursor.fetchall()

admin_data = pd.DataFrame(admin_data, columns=['id',
                                                'name',
                                                'email',
                                                'telephone_number',
                                                'is_super_admin',
                                                'created_at',
                                                'updated_at',
                                                'deleted_at'])

admin_data.to_csv(f"admins/admins_{currentDateTime}.csv", index=False)

In [45]:
cursor.execute("""
SELECT
    id,
    name,
    email,
    telephone_number,
    created_at,
    updated_at,
    deleted_at
FROM 
    users
""")

users_data = cursor.fetchall()

users_data = pd.DataFrame(users_data, columns=['id',
                                                'name',
                                                'email',
                                                'telephone_number',
                                                'created_at',
                                                'updated_at',
                                                'deleted_at'])

users_data.to_csv(f"users/users_{currentDateTime}.csv", index=False)

In [49]:
cursor.execute("""
SELECT
    id,
    description,
    address,
    type,
    total_likes,
    created_at,
    updated_at,
    deleted_at
FROM 
    complaints
""")

complaints_data = cursor.fetchall()

complaints_data = pd.DataFrame(complaints_data, columns=['id',
                                                    'description',
                                                    'address',
                                                    'type',
                                                    'total_likes',
                                                    'created_at',
                                                    'updated_at',
                                                    'deleted_at'])

complaints_data.to_csv(f"complaints/complaints_{currentDateTime}.csv", index=False)

# Transform Data

In [52]:
fact_table = pd.read_csv(f"complaint_facts/complaint_facts_{currentDateTime}.csv")

fact_table

,user_id,complaint_id,complaint_process_id,admin_id,total_complaints,sum_verification,sum_onprogress,sum_resolved,sum_rejected,sum_deleted,sum_public,sum_private,process_time,user_rejected_complaints,user_resolved_complaints,last_complaints
0,1,C-8ksh&s9280,1,2,13,3,2,1,1,0,4,3,0.0,0,1,C-8ksh&s9280
1,1,C-8ksh&s9280,2,2,13,3,2,1,1,0,4,3,0.0,0,1,C-8ksh&s9280
2,1,C-8ksh&s9280,3,2,13,3,2,1,1,0,4,3,0.0,0,1,C-8ksh&s9280
3,2,C-81jas92581,4,3,13,3,2,1,1,0,4,3,NaN,0,0,C-cafdc19358
4,3,C-123j9ak280,7,4,13,3,2,1,1,0,4,3,NaN,1,0,C-271j9ak280
5,3,C-271j9ak280,5,3,13,3,2,1,1,0,4,3,NaN,1,0,C-271j9ak280
6,3,C-271j9ak280,6,3,13,3,2,1,1,0,4,3,NaN,1,0,C-271j9ak280

In [53]:
komplain = pd.read_csv(f"complaints/complaints_{currentDateTime}.csv")

komplain

,id,description,address,type,total_likes,created_at,updated_at,deleted_at
0,C-004e1b5bea,Lorem ipsum dolor sit amet lorem ipsum dolor s...,"Jl. pemuda no 31, RT. 04 RW. 05, Lorem ipsum, ...",public,0,2024-06-12 08:13:51.185,2024-06-12 08:13:51.185,NaN
1,C-0f7f47cea3,coba guys,"Latitude: -6.857435960103596, Longitude: 109.1...",Publik,0,2024-06-12 16:32:25.833,2024-06-12 16:32:25.833,NaN
2,C-123j9ak280,"Lorem ipsum dolor sit amet, consectetur adipis...","Jl. lorem ipsum No. 1 RT 01 RW 01, Kelurahan L...",public,0,2024-06-12 15:09:17.693,2024-06-12 15:09:17.693,NaN
3,C-145066eb25,vgvghvghj,"Latitude: 37.785834, Longitude: -122.406417",Private,0,2024-06-12 16:25:54.634,2024-06-12 16:25:54.634,NaN
4,C-271j9ak280,"Lorem ipsum dolor sit amet, consectetur adipis...","Jl. lorem ipsum No. 1 RT 01 RW 01, Kelurahan L...",public,1,2024-06-12 15:09:17.693,2024-06-12 15:09:17.693,NaN
5,C-3d6694e23c,kgsktxkhxkg kgxg\nxg\nzmgxmghhhxc\ncdhf\ndh\nd...,hrsjtzmgxxmg,Publik,0,2024-06-12 16:35:27.084,2024-06-12 16:35:27.084,NaN
6,C-7ac4ad0127,coba,"Latitude: 37.785834, Longitude: -122.406417",Publik,0,2024-06-12 16:26:12.683,2024-06-12 16:26:12.683,NaN
7,C-81j9aK9280,"Lorem ipsum dolor sit amet, consectetur adipis...","Jl. lorem ipsum No. 1 RT 01 RW 01, Kelurahan L...",public,3,2024-06-12 15:09:17.693,2024-06-12 15:09:17.693,NaN
8,C-81jas92581,"Lorem ipsum dolor sit amet, consectetur adipis...","Jl. lorem ipsum No. 1 RT 01 RW 01, Kelurahan L...",private,2,2024-06-12 15:09:17.693,2024-06-12 15:09:17.693,NaN
9,C-83901c5e1d,fdsadf,"Latitude: 37.785834, Longitude: -122.406417",Publik,0,2024-06-12 08:44:08.832,2024-06-12 08:44:08.832,NaN
10,C-893e519acc,fdsafsd,"Latitude: 37.785834, Longitude: -122.406417",Publik,0,2024-06-12 08:16:43.632,2024-06-12 08:16:43.632,NaN
11,C-8ksh&s9280,"Lorem ipsum dolor sit amet, consectetur adipis...","Jl. lorem ipsum No. 1 RT 01 RW 01, Kelurahan L...",private,2,2024-06-12 15:09:17.693,2024-06-12 13:32:16.435,NaN
12,C-cafdc19358,fdsafsd,"Latitude: 37.785834, Longitude: -122.406417",Publik,1,2024-06-12 08:16:21.130,2024-06-12 14:13:00.815,NaN

In [54]:
users = pd.read_csv(f"users/users_{currentDateTime}.csv")

users

,id,name,email,telephone_number,created_at,updated_at,deleted_at
0,1,User 1,user1@gmail.com,81234567890,2024-06-09 08:25:59.037,2024-06-11 11:11:43.422,NaN
1,2,User 2,user2@gmail.com,81234567890,2024-06-09 08:25:59.037,2024-06-09 08:25:59.037,NaN
2,3,User 3,user3@gmail.com,81234567890,2024-06-09 08:25:59.037,2024-06-09 08:25:59.037,NaN
3,4,dummy,dummycapstonekel8@gmail.com,8123123123123,2024-06-10 04:05:48.895,2024-06-10 04:07:24.644,NaN
4,5,capst8,kelompok8capstone@gmail.com,12341234123,2024-06-10 09:13:24.480,2024-06-10 09:13:41.045,NaN
5,6,asd,asd@gmail.com,1212,2024-06-11 08:06:08.147,2024-06-11 08:06:08.518,NaN
6,7,asd,asdd@gmail.com,81231231,2024-06-12 03:07:45.132,2024-06-12 03:07:45.492,NaN
7,8,asd,asddsa@gmail.com,123123,2024-06-12 03:47:33.416,2024-06-12 03:47:33.710,NaN
8,9,dummy33,dummy33@gmail.com,12312321,2024-06-12 04:13:37.638,2024-06-12 04:13:38.017,NaN
9,10,testingdummy,testingdummy@gmail.com,123123123,2024-06-12 04:45:47.650,2024-06-12 04:45:48.011,NaN
10,13,testt,dummycapstonekel5@gmail.com,123123123,2024-06-12 05:57:05.172,2024-06-12 05:57:05.545,NaN
11,14,hldaabyu,danirahmadani91@gmail.com,82264694923,2024-06-12 12:39:37.648,2024-06-12 12:41:18.871,NaN

In [55]:
admins = pd.read_csv(f"admins/admins_{currentDateTime}.csv")

admins

,id,name,email,telephone_number,is_super_admin,created_at,updated_at,deleted_at
0,1,Super Admin,super_admin@gmail.com,81234567890,1,2024-06-09 08:25:57.682,2024-06-09 08:25:57.682,NaN
1,2,Admin Pandeglang,admin_pandeglang@gmail.com,81234567890,0,2024-06-09 08:25:57.682,2024-06-09 08:25:57.682,NaN
2,3,Admin Lebak,admin_lebak@gmail.com,81234567890,0,2024-06-09 08:25:57.682,2024-06-09 08:25:57.682,NaN
3,4,Admin Serang,admin_serang@gmail.com,81234567890,0,2024-06-09 08:25:57.682,2024-06-09 08:25:57.682,NaN
4,5,admin coba,coba.admin@outlook.com,82155008990,0,2024-06-10 17:23:35.160,2024-06-10 17:24:24.996,NaN
5,6,admin coba1,coba.admin1@outlook.com,82155008990,0,2024-06-10 17:24:50.927,2024-06-10 17:24:50.927,2024-06-10 17:25:01.398